$def with (title, ideas, form)
$var title: $title

<h2>Here are your ideas so far:</h2>

<ul>
$for idea in ideas:
    <a href="$idea.getLink()"><li class="idea_stage_$idea.stage">
        $idea.description
    </li></a>
</ul>

<form action="" method="post">
    $:form.render()
</form>
