$def with (idea, changeForm, extraForm, delForm)
$var title: $idea.description
<div>
    <p class="idea_stage_$idea.stage">$idea.description</p>
    <form action="delete" method="post">
        $:delForm.render()
    </form>
    <form action="update" method="post">
        $:changeForm.render()
    </form>
    <ul class="idea_extra">
    $for extra in idea.getExtras():
        <li>
            $extra.description
        </li>
    </ul>
    <form action="addextra" method="post">
        $:extraForm.render()
    </form>
</div>
