html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #252923;
}
h1 {
  color: #E6DB74;
}
h2 {
  color: #C4BE89;
  margin-top: 0px;
}
pre {
  font-family: 'Ubuntu Mono', monospace;
}
a:link {
  /* Unvisited Link */

  color: #66D9EF;
  text-decoration: none;
}
a:visited {
  /* visited link */

  color: #AE81FF;
}
a:hover {
  /* mouse over link */

  color: #B3F3FF;
  text-decoration: underline;
}
a:active {
  /* selected link */

  color: #BCA3A3;
}
.idea_stage_0 {
  /* Untouched */

}
.idea_stage_1 {
  /* Started */

  color: #66D9EF;
  font-weight: bold;
}
.idea_stage_2 {
  /* Stagnant */

  color: #F92672;
}
.idea_stage_3 {
  /* Finished */

  color: #8F8F8F;
  text-decoration: line-through;
}
a .idea_stage_0 {
  /* Untouched */

  color: #A6E22E;
  text-decoration: none;
}
a .idea_stage_1 {
  /* Started */

  color: #66D9EF;
  font-weight: bold;
  text-decoration: none;
}
a .idea_stage_2 {
  /* Stagnant */

  color: #F92672;
  text-decoration: none;
}
a .idea_stage_3 {
  /* Finished */

  color: #8F8F8F;
  text-decoration: line-through;
}
#content {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 100%;
  min-height: 100%;
  padding-left: 1em;
  background-color: #272822;
  color: #A6E22E;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
#footer {
  color: #4C4926;
  position: fixed;
  clear: both;
  width: 40em;
  height: 30px;
  bottom: 0;
  border: none;
  padding: 0 0 0 0;
  text-align: center;
  background-color: #272822;
}
#footer a:link {
  color: #4C4926;
}
#footer a:visited {
  color: #4C4926;
}
#footer a:hover {
  color: #807A40;
}
#footer a:active {
  color: #4C4926;
}
form p {
  display: inline;
}
