html{
    height: 100%;
}
body{
    height: 100%;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #252923;
}

h1{
    color: #E6DB74;
}

h2{
    color: #C4BE89;
    margin-top: 0px;
}

pre{
    font-family: 'Ubuntu Mono', monospace;
}

a:link{ /* Unvisited Link */
    color: #66D9EF;
    text-decoration: none;
}
a:visited { /* visited link */
    color: #AE81FF;
} 
a:hover { /* mouse over link */
    color: #B3F3FF;
    text-decoration: underline;
}
a:active { /* selected link */
    color: #BCA3A3;
}

.idea_stage_0{ /* Untouched */
}

.idea_stage_1{ /* Started */
    color: #66D9EF;
    font-weight: bold;
}

.idea_stage_2{ /* Stagnant */
    color: #F92672;
}

.idea_stage_3{ /* Finished */
    color: #8F8F8F;
    text-decoration: line-through;
}

a {
    .idea_stage_0{ /* Untouched */
        color: #A6E22E;
        text-decoration: none;
    }

    .idea_stage_1{ /* Started */
        color: #66D9EF;
        font-weight: bold;
        text-decoration: none;
    }

    .idea_stage_2{ /* Stagnant */
        color: #F92672;
        text-decoration: none;
    }

    .idea_stage_3{ /* Finished */
        color: #8F8F8F;
        text-decoration: line-through;
    }
}


@body-width: 40em;
@vertical-border: 1px solid black;

#content {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: @body-width;
    height: 100%;
    min-height: 100%;
    background-color: #272822;
    color: #A6E22E;
    border-left: @vertical-border;
    border-right: @vertical-border;
    padding-left: 1em;
    padding-right: 1em;
}

#footer {
    color: #4C4926;
    position: fixed;
    clear: both;
    width: @body-width;
    height: 30px;
    bottom: 0;
    border: none;
    padding: 0 0 0 0;
    text-align: center;
    background-color: #272822;
    a:link{
        color: #4C4926;
    }
    a:visited{
        color: #4C4926;
    }
    a:hover{
        color: #807A40;
    }
    a:active{
        color: #4C4926;
    }
}



form p {
    display: inline;
}
